<div class="container">
  <h1>Welcome to Facebook</h1>
  <p>Please log in!</p>
  <form action="/login" method="POST">
  Username: <input type="text" name="user[username]">
  <br/><br/>
  Password: <input type="text" name="user[password]">
  <br/><br/>
  <input type="submit" value="Login">
  </form>

  <p>Or if you don't have an account yet... create a new account!</p>
  <form action="/new_user" method="POST">
  Username: <input type="text" name="new_user[username]">
  <br/><br/>
  Password: <input type="text" name="new_user[password]">
  <br/><br/>
  Name: <input type="text" name="profile[name]">
  <br/><br/>
  Email: <input type="text" name="profile[email]">
  <br/><br/>
  Date of birth: <input type="text" name="profile[dob]">
  <br/><br/>
  <input type="submit" value="Create new account">
  </form>

</div>
