<div class="container">
  <h1>Hacker News Clone</h1>
  user: <%= @user.username %>
  <br/>
  <a href="/users/<%= @user.id %>/posts">submissions</a>
  <br/>
  <a href="/users/<%= @user.id %>/comments">comments</a>
</div>